body {
    background-color: #E8E8E8;
    font-family: 'Montserrat', sans-serif;
}
.card {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 8px;
}

.btn {
    margin-top: 8px;
    font-size: 1.15em;
}

.btn-primary {
    background-color: #009688;
    border-color: #009688;
}

.btn-primary:hover {
    background-color: #00796b;
    border-color: #00796b;
}


::placeholder {
    font-size: medium;
    font-family: 'Open Sans', sans-serif;
}

/* img {
    margin-left: 43%;
    padding: 0;
} */

.main {
    display: flex;
    flex-direction: row;
}

.heading {
    margin: 0 auto;
    padding-top: 5%;
    margin-left: 27%;
}

img {
    margin-left: 5%;
    margin-top: 5%;
}

.loading {
    display: none;
}

.alert {
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
}

